---
title: Homepage
---

{% assign groups = site.pages|group_by:"category"|sort:"name" %}
{% for group in groups %}
	<h3>{{ group.name }}</h3>
	{% for item in group.items %}
		{% assign content = item.content|strip %}
		{% assign extension = item.path|split:'.'|last %}
		{% if extension == "md" %}
			{{ content }}
		{% elsif extension == "css" %}
			{% highlight css %}{{ content }}{% endhighlight %}
		{% else %}
			{% highlight html %}{{ content }}{% endhighlight %}
		{% endif %}
		{% if extension != "md" %}<p><a href="{{ item.url|remove_first:'/' }}">demo</a></p>{% endif %}
	{% endfor %}
{% endfor %}
