<!doctype html>
<html class="no-js no-touch" lang="en" dir="ltr">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<meta name="robots" content="noindex">
	
	<script>/*! no-js uglified | https://gist.github.com/mhulse/4704893 */!function(e){e.documentElement.className=e.documentElement.className.replace(/\bno-js\b/,"js")}(document);</script>
	<script>/*! no-touch uglified | https://gist.github.com/mhulse/4704893 */!function(o,n,c){("ontouchstart"in o||o.DocumentTouch&&n instanceof DocumentTouch||c.MaxTouchPoints>0||c.msMaxTouchPoints>0)&&(n.documentElement.className=n.documentElement.className.replace(/\bno-touch\b/,"touch"))}(window,document,navigator);</script>
	
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://yui-s.yahooapis.com/combo?pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="assets/demo.css">
	
	<style></style>
	
</head>
<body>
	
	<h1 flag>{{ site.title }}</h1>
	<h2 deck>{{ site.description }}</h2>
	
	{{ content }}
	
	<a octocat href="https://github.com/mhulse/css-bullets" rel="nofollow" target="_blank"></a>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	
	<script>
		
		$(function() {});
		
	</script>
	
</body>
</html>
